# coding=utf-8
from usslib import register_uss_expression_swf

API_VERSION = 'API_v1.0'
MOD_NAME = '{{title}}'

{% for item in files %}
register_uss_expression_swf('../unbound/mods/{{item.name}}.swf')
{% endfor %}

